#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(90deg,#0022ff, #00ffbc);
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  padding: 0 15px;
}

.navItems {
  display: flex;
  text-align: center;
  gap: 10px;
  padding: 10px;
}

.navItems a {
  font-size: 18px;
  border: 1px solid #555;
  border-radius: 8px;
  color: #0022ff;
  padding: 12px;
  list-style: none;
  cursor: pointer;
  opacity: .7;
  text-decoration: none;
}

.navItems a:hover {
  background-color: #09f;
  color: #fff;
  opacity: 1;
}

.home {
  padding: 20px;
}

.title {
  font-size: 40px;
}

#firstText,
.second {
  font-size: 20px;
  width: 50%;
}

.calculator-section {
  display: grid;
  grid-template-columns: .7fr 1fr;
  padding: 20px;
}

.calculator-section > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.invite {
  font-size: 45px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 400px;
  min-width: 280px;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  border: 3px solid white;
  overflow: hidden;
}

.display {
  display: flex;
  min-height: 100.73px;
  flex-direction: column;
  grid-column: span 4;
  background-color: rgba(112, 128, 144, .7);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: right;
  justify-content: center;
  font-size: 35px;
  color: #fff;
}

.press {
  height: 75px;
  font-size: 16px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, .8);
}

.press:hover {
  background-color: rgba(255, 255, 255, 1);
}

#item16 {
  grid-column: span 2;
}

#item3,
#item7,
#item11,
#item15,
#item18 {
  background-color: rgb(255, 165, 0, 0.8);
}

#item3:hover,
#item7:hover,
#item11:hover,
#item15:hover,
#item18:hover {
  background-color: rgb(255, 165, 0, 1);
}

.quote-section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-section p {
  font-size: 35px;
  font-weight: 600;
  max-width: 850px;
  text-align: center;
}

@media screen and (max-width: 401px) {
  .navBar {
    flex-direction: column;
  }

  .logo {
    text-align: center;
    font-weight: 600;
  }

  .navItems {
    margin: auto;
  }

  .navItems a {
    color: #222;
    background-color: rgba(255, 255, 255, .7);
  }

  .title {
    font-size: 28px;
    text-align: center;
  }

  #firstText,
  .second {
    font-size: 1rem;
    text-align: center;
    width: auto;
  }

  .invite {
    font-size: 20px;
  }

  .calculator-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .quote-section p {
    font-size: 1.2rem;
    padding: 0 15px;
  }
}

@media screen and (max-width: 701px) {
  .navItems a {
    font-size: 15px;
    padding: 8px;
  }

  .home {
    font-size: 22px;
  }

  #firstText,
  .second {
    font-size: 1.2rem;
    width: auto;
  }

  .invite {
    font-size: 25px;
  }

  .calculator {
    max-width: 330px;
  }

  .quote-section p {
    font-size: 1.5rem;
    padding: 0 15px;
  }
}