#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(90deg,#0022ff, #00ffbc);
}

.navBar {
  width: 96%;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
}

.navItems {
  width: 20%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

.navItems a {
  font-size: 18px;
  border: 1px solid #555;
  border-radius: 8px;
  color: #0022ff;
  padding: 12px;
  list-style: none;
  cursor: pointer;
  opacity: .7;
  text-decoration: none;
}

.navItems a:hover {
  background-color: #09f;
  color: #fff;
  opacity: 1;
}

.home {
  padding: 20px;
}

.title {
  font-size: 40px;
}

#firstText,
.second {
  font-size: 20px;
  width: 50%;
}

.calculator-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 25px;
}

.calculator-section > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.invite {
  font-size: 45px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 400px;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  border: 3px solid white;
}

.display {
  display: flex;
  min-height: 100.73px;
  flex-direction: column;
  grid-column: span 4;
  background-color: rgba(112, 128, 144, .7);
  border-radius: 10px;
  text-align: right;
  justify-content: center;
  font-size: 35px;
  color: #fff;
}

.press {
  height: 75px;
  font-size: 16px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, .8);
}

.press:hover {
  background-color: rgba(255, 255, 255, 1);
}

#item16 {
  grid-column: span 2;
}

#item3,
#item7,
#item11,
#item15,
#item18 {
  background-color: rgb(255, 165, 0, 0.8);
}

#item3:hover,
#item7:hover,
#item11:hover,
#item15:hover,
#item18:hover {
  background-color: rgb(255, 165, 0, 1);
}

.quote-section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-section p {
  font-size: 35px;
  font-weight: 600;
  max-width: 850px;
  text-align: center;
}
