#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(#20b970, #09f, #fff);
}

.navBar {
  width: 96%;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
}

.navItems {
  width: 20%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

.navItem {
  font-size: 18px;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 12px;
  list-style: none;
  cursor: pointer;
}

.navItem:hover {
  background-color: #09f;
}

.navItem a {
  text-decoration: none;
}

.title {
  font-size: 40px;
}

#firstText,
.second {
  font-size: 32px;
}

.calculator-section {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.invite {
  font-size: 27px;
  margin-left: 20px;
}

.calculator {
  width: 40%;
  height: 50vh;
  justify-content: space-between;
}

.display {
  width: 96%;
  height: 24%;
  background-color: slategray;
  text-align: right;
  font-size: 45px;
  color: #fff;
  padding-top: 20px;
}

.press {
  width: 24%;
  height: 19%;
  font-size: 16px;
  border: 1px solid grey;
  background-color: #fff;
}

#item16 {
  width: 48%;
}

#item3,
#item7,
#item11,
#item15,
#item18 {
  background-color: orange;
}

.quote-section {
  width: 100%;
  height: 85vh;
  position: absolute;
  text-align: center;
}

.quote {
  font-size: 35px;
  font-weight: 600;
  width: 60%;
  margin-left: 20%;
  margin-top: 16%;
}
